<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Creation form</h1>
    <form method="POST">
    Book title: <input type="text" name="title"/><br>
    Book Description: <textarea type="text" name="description" ></textarea><br><br>


    Author ID:
 
        <select name="id">
            <% for(let i of output){%>
    <option value="<%= i.authorId %>"><%= i.authorName %></option>
    <% } %>
     
        </select>
      
       
        <input type="submit" value="Save"/>
 
    
</form>

</body>
</html>