<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <h1>Book application</h1>

    <a href="/create/books">Create a new book</a>
    <a href="/create/authors">create a author</a>

</body>
</html>