<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center;">Individual book details</h1>
    <% for(let i of book){%>
        <h2 style="text-align:center; font-size:24px; letter-spacing:2px; "><%= i.booksId%></h2>
        <h2 style="text-align:center; font-size:24px; letter-spacing:2px; "><%= i.bookTitle%></h2>
        <h2 style="text-align:center; font-size:24px; letter-spacing:2px; "><%= i.bookDescription%></h2>
        <h2 style="text-align:center; font-size:24px; letter-spacing:2px; "><%= i.publishedDate%></h2>
   <% }%>

   
</body>
</html>